.row-product .product-item:hover .content-action .cart-product.add-cart {
    right: 27% !important;
}

.row-product .product-item:hover .content-action .cart-product.view-product {
    left: 27% !important;
}

/*grid*/
.action-add .add-cart.loading {
    opacity: 1 !important;
}
.breadcrumb-colect{
    padding-bottom: 0 !important;
}
.action-add .add-cart.loading:after {
    content: '\f110' !important;
    width: 30px !important;
    font-family: FontAwesome !important;
    height: 30px !important;
    animation: 2s linear infinite spinner !important;
    position: absolute !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    -webkit-transform: translateX(-50%) !important;
    -moz-transform: translateX(-50%) !important;
    display: flex !important;
    top: 50% !important;
    z-index: 1 !important;
    align-items: center !important;
    justify-content: center !important;

}

.acttion-carts .add-cart.add-variable.added:after {
    content: '\e017';
    /* position: absolute; */
    margin-left: 7px;
    /* font-size: 12px; */
    font-family: WooCommerce;
}

.action-add .content-action .add-cart.added:after {
    display: none;
!important;
}

.woocommerce #respond input#submit.loading::after, .woocommerce a.button.loading::after, .woocommerce button.button.loading::after, .woocommerce input.button.loading::after {
    display: none;
}

.row-product .product-item .content-action .cart-product {
    padding: 0;
}

.filter-list h5 {
    background: #789be6;
    padding: 10px 5px;
    cursor: pointer;
    color: white;
    padding-left: 16px !important;
}

.filter-list h5 .icon-right {
    margin-right: 10px;
}

.title-cate {
    text-transform: uppercase !important;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
    height: 43px;
    margin: 0 20px;
    line-height: 40px;
    font-weight: normal;
    color: #333333;
    border-bottom: 1px solid #dfdfdf;
}
.breadcrumb-colect{
    background: url('https://cdn.pixabay.com/photo/2014/10/03/17/39/glasses-472027__340.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}
.breadcrumb-colect:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111;
    opacity: 0.7;
}
.breadcrumb-colect .content-breadcrum{
    position: relative;
    z-index: 9;
}
.breadcrumb-colect .content-breadcrum h4{
    color: #ffffff;
}
.woocommerce .woocommerce-breadcrumb a{
    color: #ffffff;
}
#collection-container{
    margin-top:30px !important;
}
.filter-list a:hover {
    color: #789be6 !important;
}
.sidebar-filter .top-filter{
    font-size: 18px;
}