#collection-container .paginate_links .page-numbers {
    border: 1px solid #BFBFBF;
    text-decoration: none;
    height: 40px;
    width: 38px;
    display: inline-block;
    line-height: 38px;
    text-align: center;
}
#collection-container .paginate_links .page-numbers:hover{
    opacity: .8;
    background: #dfdfdf;
}
#collection-container .paginate_links .page-numbers.current {
    background: #22232b;
    border: 1px solid #22232b;
    color: #ffffff;
}