/*.page {*/
/*    width: 600px;*/
/*    position: fixed;*/
/*    margin: 0 auto;*/
/*    overflow-x: hidden;*/
/*    min-height: 167px;*/
/*    !* padding: 80px 0; *!*/
/*    bottom: 0px;*/
/*    right: 11px;*/

/*    pointer-events: none;*/
/*}*/

.notification {
    position: fixed;
    bottom: 40px;
    right: -20px;
    min-width: 340px;
    min-height: 40px;
    z-index: 9999999;
    pointer-events: auto;
    transition: right 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.notification::before, .notification::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0%;
    left: -2.5%;
    width: 102.5%;
    height: 100%;
    border-radius: 10px;
}
.notification::before {
    left: -4%;
    background-color: #e50914;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    transition: -webkit-transform 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0.2s;
    transition: transform 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0.2s;
    transition: transform 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0.2s, -webkit-transform 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0.2s;
}
.notification::after {
    transition: -webkit-transform 0.8s cubic-bezier(0.23, 1, 0.32, 1) 0.1s;
    transition: transform 0.8s cubic-bezier(0.23, 1, 0.32, 1) 0.1s;
    transition: transform 0.8s cubic-bezier(0.23, 1, 0.32, 1) 0.1s, -webkit-transform 0.8s cubic-bezier(0.23, 1, 0.32, 1) 0.1s;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    background-color: #221f1f;
}
.notification.-active {
    right: 10px;
}
.notification.-active::after, .notification.-active::before {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}
.notification.-active::after {
    transition: -webkit-transform 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0.1s;
    transition: transform 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0.1s;
    transition: transform 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0.1s, -webkit-transform 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0.1s;
}
.notification.-active::before {
    transition: -webkit-transform 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    transition: transform 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    transition: transform 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0s, -webkit-transform 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}
.notification.-active .notification__content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    left: 0;
    transition: left 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0.1s, -webkit-transform 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0.1s;
    transition: left 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0.1s, transform 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0.1s;
    transition: left 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0.1s, transform 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0.1s, -webkit-transform 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0.1s;
}
.notification__content {
    border-radius: 4px;
    position: relative;
    z-index: 2;
    background-color: white;
    padding: 17px 40px 13px 40px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    left: 100%;
    transition: left 1s cubic-bezier(0.23, 1, 0.32, 1) 0s, -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    transition: left 1s cubic-bezier(0.23, 1, 0.32, 1) 0s, transform 1s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    transition: left 1s cubic-bezier(0.23, 1, 0.32, 1) 0s, transform 1s cubic-bezier(0.23, 1, 0.32, 1) 0s, -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}
.notification__content > *:not(:last-child) {
    margin-bottom: 10px;
}
.notification__title {
    text-transform: uppercase;
    font-weight: 900;
    margin: 0 0 8px !important;
    line-height: .6;
    font-size: 16px;
}
.notification__message {
    margin: 0;
    font-size: 13px;
}
.notification__button {
    font-size: 11px;
    text-decoration: none;
    background-color: #d85c5c;
    color: white;
    padding: 8px 25px;
    display: inline-block;
    border-radius: 3px;
    font-weight: 700;
}
.notification__button + .notification__button {
    margin-left: 5px;
}
.notification__button.-secondary {
    background-color: transparent;
    color: #e50914;

    box-shadow: inset 0 0 0 2px #d85c5c;
    transition: all .24s ease-in-out;
}
.notification__button.-secondary:hover {
    background-color: #e50914;
    color: white;
}

.toggle-button {
    border: 0;
    cursor: pointer;
    font-size: 11px;
    text-decoration: none;
    background-color: #d85c5c;
    color: white;
    padding: 8px 25px;
    display: inline-block;
    border-radius: 3px;
    font-weight: 700;
}
