#verticle-slick img {
    cursor: pointer;
    width: 100px;
    /*transition: 1s all ease;*/
    /*-webkit-transition: 1s all ease;*/
    /*-moz-transition: 1s all ease;*/
    /*-o-transition: 1s all ease;*/
    border-radius: 2px;
}

.slick-carousel-mobile.owl-carousel.owl-loaded {
    display: none;
}

@media only screen and (max-width: 785px) {
    .content-cart .list-picture {
        display: none;
    }

    .slick-carousel-mobile.owl-carousel.owl-loaded {
        display: block;
    }
}

#verticle-slick img.active {

    /*width: calc(100% - 2px);*/
    box-sizing: border-box;
    padding-left: 1px;
}

#verticle-slick img:hover {

    /*width: calc(100% - 2px);*/
    opacity: 0.8;
    box-sizing: border-box;
    padding-left: 1px;
}


.title {
    display: none;
}


#verticle-slick {
    height: auto;
    overflow: hidden;
}

/*.slick-list {*/
/*    height: auto !important;*/
/*}*/

#zoom_01 {
    margin-top: 30px;
}

/*cus*/
.content-cart {
    margin-top: 40px;
    margin-bottom: 50px;
}

.list-picture {
    margin-top: -26px;
}

/*write*/
.content-cart .status-product {
    border-radius: 3px;
    padding: 3px 5px;

}

.content-cart .status-product.has {
    border: 1px solid #26BB4E;
    color: #26BB4E;
}

.content-cart .status-product.not-has {
    border: 1px solid #ed030e;
    color: #ed030e;
}

.content-cart .title-product {
    text-transform: uppercase !important;
    font-weight: 700;
    font-size: 14px;
    color: #333333;
}

.content-cart .meta-product {
    margin-top: 10px;
}

.content-cart .social-product {
    margin-top: 5px;
}

.content-cart .social-product .facebook-icon i {
    color: #3B5998;
}

.content-cart .social-product .twitter-icon {
    color: #00B6F1
}

.content-cart .social-product .google-icon {
    color: #DF4A32
}

.content-cart .social-product .share-in {
    margin-right: 10px;
}

.content-cart .social-product a {
    transition: .8s all ease;
    -webkit-transition: .8s all ease;
    -moz-transition: .8s all ease;
    -o-transition: .8s all ease;
}

.content-cart .social-product a:hover {
    opacity: .5;
}

.content-cart .social-product .icon-share {
    display: inline-block;
    margin-right: 10px;
    width: 25px;
    text-align: center;
    height: 25px;
    border-radius: 100%;
    background: #f4f4f4;
}

/*description*/
.content-cart .description {
    margin-top: 20px;
    text-align: justify;
    font-weight: 500;
}

.content-cart .product-detail {
    margin-top: 30px;
}

.content-cart .price-product {
    display: inline-block;
    font-weight: bold;
    color: #d85c5c;
    font-size: 23px;

    margin-top: 10px;
}

.content-cart .price-product .through {
    text-decoration: line-through;
    color: #666666;
}

/*action cart*/
.acttion-carts .reduced {
    margin-right: -4px;


}

.acttion-carts {
    white-space: nowrap;
}

.acttion-carts .increase {
    margin-left: -4px;
}

.acttion-carts .input-text {
    padding: 8px 0px;
    text-align: center;
    border: 1px solid #dfdfdf;
    width: 50px;
}

.acttion-carts .action-count {
    padding: 8px 12px;
    background: #ffffff;
    border: 1px solid #dfdfdf;
}

.mt-4 {
    margin-top: 30px;
}

.acttion-carts .add-cart {
    line-height: 1;
    cursor: pointer;
    margin-bottom: 20px;
    position: relative;
    text-decoration: none;
    margin-left: 10px !important;
    text-transform: uppercase;
    color: white !important;
    overflow: visible;
    padding: .9em 1em !important;
    border-radius: 0 !important;
    font-weight: 700;
    left: auto;
    background-color: #d85c5c !important;
    border: 0;
    display: inline-block;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
}

/*.ship-detail*/
.ship-detail {
    margin-top: 30px;
}

.ship-detail .no-bullets img, .ship-detail .product-hotline img {
    width: 20px;
    margin-right: 5px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.ship-detail .product-hotline {
    margin-bottom: 20px;
}

.ship-detail .product-hotline > a {
    position: relative;
    display: inline-block;
    line-height: 30px;
    color: #666666;
}

.ship-detail .product-hotline p, .ship-detail .product-hotline span {
    font-size: 15px;
    color: #666666;
    font-weight: bold;
}

.ship-detail .product-policy ul li .icon {
    display: inline-block;
    margin-right: 5px;
}

.stick {
    position: fixed;
    top: 0;
    z-index: 11;
    max-width: 400px;
}

/*.row-product .product-item:hover .content-action .cart-product.add-cart {*/
/*    top: 52%;*/
/*}*/

/*.row-product .product-item .content-action .cart-product.view-product {*/
/*    top: 40%;*/
/*}*/

.added_to_cart {
    display: none !important;
}

.ajax_add_to_cart.loading {
    pointer-events: none;
    opacity: 0.5;
}

/*Variable product */
.product-variable {
    margin-bottom: 30px;
}

.product-variable .box-variable.active {
    border: 1px solid #789be6;
}

.product-variable .box-variable {
    cursor: pointer;
}

a.cart-product.add-cart.add-variable.loading:before {
    background: #dfdfdfd4;
    content: '';
    left: 0;
    position: absolute;
    z-index: .9;
    opacity: 0.6;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
}

.add-cart.add-variable.loading:after {
    content: '\f110';
    width: 30px;
    font-family: FontAwesome;
    height: 30px;
    animation: 2s linear infinite spinner;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    display: flex;
    top: 50%;
    z-index: 1;
    align-items: center;
    justify-content: center;

}
.action-add .add-cart.loading{
    opacity:  1 !important;
}
.action-add .add-cart.loading:after {
    content: '\f110' !important;
    width: 30px !important;
    font-family: FontAwesome !important;
    height: 30px !important;
    animation: 2s linear infinite spinner !important;
    position: absolute !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    -webkit-transform: translateX(-50%) !important;
    -moz-transform: translateX(-50%) !important;
    display: flex !important ;
    top: 50% !important;
    z-index: 1 !important;
    align-items: center !important;
    justify-content: center !important;

}
.acttion-carts .add-cart.add-variable.added:after {
    content: '\e017';
    /* position: absolute; */
    margin-left: 7px;
    /* font-size: 12px; */
    font-family: WooCommerce;
}

.action-add .content-action .add-cart.added:after {
    display: none;
!important;
}

.woocommerce #respond input#submit.loading::after, .woocommerce a.button.loading::after, .woocommerce button.button.loading::after, .woocommerce input.button.loading::after {
    display: none ;
}

@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

.row-product .product-item .content-action .cart-product {
    padding: 0;
}
.pro-title .content-title{
    width: 100%;
}
.box-out-variable{
    background: #dfdfdf;
}