/* Header custom follow https://www.molsion.com/ */
.header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    right: 0;

    z-index: 1000;
}

#wrapper.home-header .header {
    /*height: 100%;*/
}

.header div[aria-controls="page-menu"] {
    color: #fff;
    cursor: pointer;
    position: relative;
}

.circle {
    background: #e3a7a6;
    border-radius: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 50px;
    left: 45px;
    transform: translate(-50%, -50%);
    z-index: 991;
    height: 0
}

.header .icon-menu {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    z-index: 99;
}

.header .icon-menu .icon-menu__bar {
    position: absolute;
    left: 3px;
    width: 23px;
    height: 2px;
    background: #fff;
    transition: transform 500ms ease 250ms, background 400ms ease 0ms;
}

.header .icon-menu .icon-menu__bar.icon-menu__bar-1 {
    top: 6px;
}

.header .icon-menu .icon-menu__bar.icon-menu__bar-2 {
    top: 13px;
}

.header .icon-menu .icon-menu__bar.icon-menu__bar-3 {
    top: 20px;
}

body.on {
    position: fixed;
}

body.on:before {
    content: '';
    background: #111111;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99;
    left: 0px;
    top: 0px;
}

#wrapper {
    padding: 0 15px;
    height: 75px;
    position: fixed;
    top: 0;
    z-index: 99999999999999;
    left: 0;
    background: #fff;
    width: 100%;
}

#wrapper.menu-active {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    z-index: 99;
    width: 100%;
}

.menu-active .header .icon-menu .icon-menu__bar.icon-menu__bar-1 {
    transform: rotate(45deg) translate3d(6px, 5.5px, 0);
}

.menu-active .header .icon-menu .icon-menu__bar.icon-menu__bar-2 {
    opacity: 0;
}

.menu-active .header .icon-menu .icon-menu__bar.icon-menu__bar-3 {
    transform: rotate(-45deg) translate3d(4.5px, -4px, 0);
}

#icon-cart-mobile {
    position: relative;
    z-index: 99;
}

#icon-cart-mobile .hd-cart-count {
    position: absolute;
    padding: 0px 5px;
    top: -7px;
    right: -8px;
    background: #000;
    color: #fff;
    border-radius: 35%;
}

.logo {
    position: relative;
    z-index: 99;
}

.logo img {
    margin-left: 20px;
}

.menu-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    display: none;
}

.menu-main-sub {
    display: table-cell;
    vertical-align: middle;
}

.menu-pri {
    text-align: left;
    margin-left: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.menu-pri > li {
    line-height: 28px;
}

.menu-pri li.parentul:hover:after {
    color: #444;
}


.menu-pri li span.has-child {
    position: absolute;
    cursor: pointer;
    right: -50px;
    font-size: 1.75rem;
    color: #789be6;
    top: 0;
}

.language-content {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}


/*ul.dropdown li a:after {*/
/*    content: '\f192';*/
/*    font-size: 1rem;*/
/*    color: #ed030e;*/
/*    font-family: FontAwesome;*/
/*    position: absolute;*/
/*    left: 0px;*/
/*}*/

.menu-pri .dropdown {
    margin-bottom: 10px;
    margin-left: 39px;
}

.menu-pri li {
    position: relative;
    transform: matrix(1, 0, 0, 1, 0, 1000);
    opacity: 0;
}

@media only screen and (max-width: 600px) {
    .menu-pri li a {
        font-size: 14px !important;
    }

    .menu-pri {
        left: 40%;
    }
}

.menu-pri li a {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 15px;
    position: relative;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    line-height: 29px;
    padding-left: 20px;
    transition: all 0.3s;
    /*white-space: nowrap;*/
    -webkit-transition: all 0.3s;
}

ul.dropdown.parent:after {
    content: '';
    position: absolute;
    width: 1px;
    top: 0;
    left: -18px;
    height: 100%;
    background: red;
}

.menu-pri li a:hover:before {
    /* -webkit-transform: scaleX(1);
    transform: scaleX(1); */
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    width: 100%
}

.menu-pri li a:before {
    content: "";
    position: absolute;
    height: 2px;
    margin: auto;
    width: 0;
    z-index: -1;
    bottom: -2px;
    left: 0;
    right: 0;
    background: #fff;
    /* -webkit-transform: scaleX(0);
    transform: scaleX(0); */
    -webkit-transform-origin: 0;
    transform-origin: 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.menu-pri li:last-child a {
    margin-bottom: 0;
}

.menu-pri li:last-child a:before {
    background: transparent
}

.menu-main-social {
    position: absolute;
    display: table;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 25px;
}

.search-box {
    opacity: 0;
    text-align: center;
    transform: matrix(1, 0, 0, 1, 0, 1000);
    max-width: 500px;
    width: 90%;
    margin: auto;
    display: none;
}

.search-box h4 {
    color: #fff;
}

.search-box button {
    margin-top: 15px;
    background-color: #789be6;
    color: #fff;
    border-color: #789be6;
}

.popup-view-cart {
    background: #fff;
    position: absolute;
    right: 0;
    top: 100%;
    min-width: 300px;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    z-index: 9999;
    margin-top: 20px;
}

.popup-view-cart:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    right: 9px;
    top: -11px;
    transform: rotate(45deg);
    border-left: 1px solid #d3d3d3;
    z-index: -1;
    border-top: 1px solid #d3d3d3;
}

.popup-cart-title h5 {
    margin: 0;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    border-bottom: 1px solid #ddd;
}

.popup-cart-content {
    padding: 20px;
    max-height: 258px;
    overflow-y: auto;
}

.popup-cart-content::-webkit-scrollbar-thumb {
    background-color: #444444;
    border: 2px solid #555555;
}

.popup-cart-content::-webkit-scrollbar {
    width: 7px;
    background-color: #F5F5F5;
}

.popup-cart-content .item {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.popup-cart-content .item:last-child {
    margin-bottom: 0;
}

.popup-cart-content .item img {
    margin-right: 15px;
    max-width: 80px;
}

.popup-cart-content .item a {
    color: #000;
    font-weight: 500;
}

.popup-cart-content .item p, .popup-cart-content .item a {
    margin: 0;
}

.popup-cart-content .item p {
    font-size: 12px;
    line-height: 1.2;
}

.popup-cart-content .item span {
    font-size: 12px;
}

.item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popup-cart-footer {
    padding: 0 20px;
    padding-bottom: 13px
}

.popup-cart-footer p {
    margin-bottom: 0;
}

.group-btn .btn {
    padding: 5px 15px;
}

.group-btn {
    display: flex;
}

.group-btn a {
    background: #22232b;
    color: #fff;
}

.group-btn a:first-of-type {
    margin-right: 10px;
}

/* body.home .header .icon-menu .icon-menu__bar {
    background: #fff
} */
body .header .icon-menu .icon-menu__bar {
    background: #000;
}

/* body.home .cart-icon {
    width: 28px;
    height: 34px;
    background-size: cover;
    background: url('../images/hd_mainmenu_icon_cart.png') top left no-repeat;
} */
body .cart-icon {
    width: 28px;
    height: 34px;
    background-size: cover;
    background: url('../images/hd_mainmenu_icon_cart-black.png') top left no-repeat;
}

body.home #wrapper {
    position: fixed;
    top: 0;
    box-shadow: 1px -2px 4px 0px #565050;
    width: 100%;
    background: #ffffff;
    z-index: 99;
}

body .header {
    position: relative;
}

.home-header {
    background: transparent;
    height: 70px;
}

#wrapper > ul {
    margin-left: 0px !important;
}

/*#wrapper {*/
/*    background: transparent;*/
/*    height: 70px;*/
/*!*    -webkit-box-shadow: 1px 3px 5px -2px rgba(0,0,0,0.66);*!*/
/*!*-moz-box-shadow: 1px 3px 5px -2px rgba(0,0,0,0.66);*!*/
/*!*box-shadow: 1px 3px 5px -2px rgba(0,0,0,0.66);*!*/
/*}*/

/*.header.fixed-width:after {*/
/*    content: '';*/
/*    width: 300px;*/
/*    height: 300px;*/
/*    position: absolute;*/
/*    top: 459px;*/
/*    animation: float 6s ease-in-out infinite;*/
/*    left: -15px;*/
/*    background-image: url(https://cdn.pixabay.com/photo/2012/04/14/13/17/red-33889_960_720.png);*/
/*    background-size: contain;*/
/*    background-repeat: no-repeat;*/
/*    transform: rotate(25deg);*/
/*}*/
/*.header.fixed-width:before {*/
/*    content: '';*/
/*    width: 300px;*/
/*    height: 300px;*/
/*    position: absolute;*/
/*    top: 459px;*/
/*    right: 13px;*/
/*    animation: float 2s ease-in-out infinite;*/
/*    background-image: url(https://cdn.pixabay.com/photo/2013/07/13/12/29/sun-glasses-159724_960_720.png);*/
/*    background-size: contain;*/
/*    background-repeat: no-repeat;*/
/*    transform: rotate(-25deg);*/
/*}*/
/*@keyframes float {*/
/*    0% {*/

/*        transform: translatey(0px);*/
/*    }*/
/*    50% {*/

/*        transform: translatey(-20px);*/
/*    }*/
/*    100% {*/
/*        transform: translatey(0px);*/
/*    }*/
/*}*/
.menu-primary {
    margin-right: 30px;
    height: 100%;
}

.menu-primary ul.menu-main-head {
    display: flex;

    height: 100%;
    align-items: center;
}

ul li {
    position: relative;
}

.menu-primary ul.menu-main-head ul li {
    position: relative;
}

.menu-primary ul.menu-main-head li ul.dropdown {
    position: absolute;
    right: 0;

}

.menu-primary ul.menu-main-head > li > ul.dropdown {
    top: 88px;
    visibility: hidden;
    height: 0;
    /*transition: all .5s ease;*/
    /*-webkit-transition: all .5s ease;*/
    /*-moz-transition: all .5s ease;*/
    /*box-shadow: 1px 1px 1px 0px #d0caca;*/
}

.menu-primary ul.menu-main-head > li.parentul > ul.dropdown:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    left: 30px;
    top: -6px;
    transform: rotate(45deg);
    /*border-left: 1px solid #d3d3d3;*/
    z-index: -1;
    /*border-top: 1px solid #d3d3d3;*/
}

.menu-primary ul.menu-main-head > li.parentul > ul.dropdown:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    background: #fff;
    left: 0px;
    background: transparent;
    top: -20px;
    z-index: -1;
}

.menu-primary ul.menu-main-head > li {
    height: 100%;


}

.menu-primary ul.menu-main-head > li > a {
    line-height: 75px;
    height: 75px;

}

.menu-primary ul.menu-main-head > li > a:hover {
    border-bottom: 3px solid #789be6;
}

.menu-primary ul.menu-main-head > li:first-child > a {
    border-bottom: 3px solid #789be6;
    text-align: center;

}

.menu-primary ul.menu-main-head li a {
    background: #fff;
    padding: 0px 25px;
    /*height: 100%;*/
    transition: margin .1s ease-out;
    -webkit-transition: margin .1s ease-out;
    -moz-transition: margin .1s ease-out;
    text-transform: uppercase;
    border-bottom: 0px solid #789be6;
    font-weight: 600;
    display: block;
}

.menu-primary ul.menu-main-head li a:hover {
    color: #789be6;
}

.menu-primary ul.menu-main-head > li ul li a {
    line-height: 35px;
    transition: .3s ease padding-left;
    padding: 0 15px;
    -webkit-transition: .3s ease padding-left;
}

.menu-primary ul.menu-main-head > li ul li a:hover {
    padding-left: 25px;
}

.menu-primary ul li:hover > ul {
    visibility: visible !important;
}

.menu-primary ul ul {
    visibility: hidden;
    position: absolute;
    min-width: 200px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
}

.menu-primary ul ul li ul {
    top: 0;
    border-left: 1px solid #dfdfdf;
    left: 100%;
}

.container-mini-cart {
    margin-right: 8px;
}

.right-head {
    height: 100%;
}

/*menu toggle*/
.menu-toggle {
    width: 40px;
    display: none;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 1px;
    cursor: pointer;
}

.menu-toggle.on .one {
    -moz-transform: rotate(45deg) translate(7px, 7px);
    -ms-transform: rotate(45deg) translate(7px, 7px);
    -webkit-transform: rotate(45deg) translate(7px, 7px);
    transform: rotate(45deg) translate(7px, 7px);
}

.menu-toggle.on .two {
    opacity: 0;
}

.menu-toggle.on .three {
    -moz-transform: rotate(-45deg) translate(8px, -10px);
    -ms-transform: rotate(-45deg) translate(8px, -10px);
    -webkit-transform: rotate(-45deg) translate(8px, -10px);
    transform: rotate(-45deg) translate(8px, -10px);
}

.one,
.two,
.three {
    width: 100%;
    height: 5px;
    background: #111;
    margin: 6px auto;
    backface-visibility: hidden;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

/*end menu toggle*/
@media only screen and (max-width: 1024px) {
    #wrapper {
        /*padding-top: 5px;*/
    }

    .header {
        padding-top: 12px;
    }

    .menu-primary ul.menu-main-head > li ul li a {
        padding-left: 35px;
        position: relative;
    }

    .menu-primary ul.menu-main-head > li ul li a:after {
        content: '\f105';
        position: absolute;
        left: 20px;
        font-family: FontAwesome;
    }

    .menu-toggle {
        display: block;
        z-index: 999999;
    }

    #icon-cart-mobile {
        margin-right: 72px;
    }

    .menu-primary.active {
        transition: all .5s ease;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        right: -100%;
    }

    .popup-view-cart {
        right: -50px;
    }

    .popup-view-cart:before {
        right: 54px;
    }

    .menu-primary {
        padding-top: 75px;
        transition: all .5s ease;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        margin-right: 0px;
        /* height: 100%; */
        height: 100%;
        min-width: 300px;
        overflow: auto;
        position: fixed;
        right: 0px;
        bottom: 0;
        z-index: 9999;
        background: #ffffff;
        box-shadow: 1px 1px 1px 1px #dfdfdf;
    }

    .menu-primary ul.menu-main-head > li:first-child > a {
        border: none;
        text-align: left;
    }

    .menu-primary ul.menu-main-head {
        height: auto;
    }

    .menu-primary ul.menu-main-head {
        display: block;
    }

    .menu-primary ul.menu-main-head > li > ul.dropdown {
        position: relative;
        top: 0px;
        margin-left: 10px;
    }

    .menu-primary ul.menu-main-head > li > ul.dropdown.on {
        visibility: visible;
        height: 100%;
    }


    .menu-primary ul.menu-main-head > li > a {
        line-height: 54px;
        height: 53px;
    }

    /*.menu-primary ul.menu-main-head > li > a{*/
    /*    height: 25px;*/
    /*}*/
    .menu-primary ul ul {
        visibility: visible;
        display: block;
        /*position: relative;*/
        /*visibility: visible;*/
        /*clear: both;*/
        /*display: block;*/
        /*background: red;*/
    }

    .menu-primary ul li {
        width: 100%;

    }

    .menu-primary ul.menu-main-head{
        border-top: 1px solid #f1f1f1;
    }
    .menu-primary ul.menu-main-head .mobile-icon {
        position: absolute;
        right: 30px;
        top: 12px;
        width: 30px;
        height: 30px;
        border: 1px solid #dfdfdf;
        text-align: center;
        line-height: 27px;
    }

}

@media only screen and (max-width: 320px) {
    .popup-view-cart {
        right: -78px;
    }

    .popup-view-cart:before {
        right: 81px;
    }
}