/* Header custom follow https://www.molsion.com/ */
.header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header div[aria-controls="page-menu"] {
    color: #fff;
    cursor: pointer;
    position: relative;
}
.circle {
    background: #e3a7a6;
    border-radius: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 50px;
    left: 45px;
    transform: translate(-50%, -50%);
    z-index: 991;
    height: 0
}
.header .icon-menu {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    z-index: 99;
}
.header .icon-menu .icon-menu__bar {
    position: absolute;
    left: 3px;
    width: 23px;
    height: 2px;
    background: #fff;
    transition: transform 500ms ease 250ms, background 400ms ease 0ms;
}
.header .icon-menu .icon-menu__bar.icon-menu__bar-1 {
    top: 6px;
}
.header .icon-menu .icon-menu__bar.icon-menu__bar-2 {
    top: 13px;
}
.header .icon-menu .icon-menu__bar.icon-menu__bar-3 {
    top: 20px;
}
#wrapper {
    padding: 0 15px;
    position: relative;
}
#wrapper.menu-active {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    z-index: 99;
    width: 100%;    
}
.menu-active .header .icon-menu .icon-menu__bar.icon-menu__bar-1 {
    transform: rotate(45deg) translate3d(6px, 5.5px, 0);
}
.menu-active .header .icon-menu .icon-menu__bar.icon-menu__bar-2 {
    opacity: 0;
}
.menu-active .header .icon-menu .icon-menu__bar.icon-menu__bar-3 {
    transform: rotate(-45deg) translate3d(4.5px, -4px, 0);
}
#icon-cart-mobile {
    position: relative;
    z-index: 99;
}
#icon-cart-mobile .hd-cart-count {
    position: absolute;
    padding: 0px 5px;
    top: -7px;
    right: -8px;
    background: #000;
    color: #fff;
    border-radius: 35%;
}
.logo {
    position: relative;
    z-index: 99;
}
.menu-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    display: none;
}
.menu-main-sub {
    display: table-cell;
    vertical-align: middle;
}
.menu-pri {
    text-align: center
}
.menu-pri li {
    transform: matrix(1, 0, 0, 1, 0, 1000);
    opacity: 0;
}
.menu-pri li a {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 15px;
    position: relative;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    transition:  all 0.3s;
    -webkit-transition:  all 0.3s;
}
.menu-pri li a:hover:before {
    /* -webkit-transform: scaleX(1);
    transform: scaleX(1); */
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    width: 100%
}
.menu-pri li a:before {
    content: "";
    position: absolute;
    height: 2px;
    margin: auto;
    width: 0;
    z-index: -1;
    bottom: -2px;
    left: 0;
    right: 0;
    background: #fff;
    /* -webkit-transform: scaleX(0);
    transform: scaleX(0); */
    -webkit-transform-origin: 0;
    transform-origin: 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    transition:  all 0.3s;
    -webkit-transition: all 0.3s;
}
.menu-pri li:last-child a {
    margin-bottom: 0;
}
.menu-pri li:last-child a:before {
    background: transparent
}
.menu-main-social {
    position: absolute;
    display: table;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 25px;
}
.search-box {
    opacity: 0;
    text-align: center;
    transform: matrix(1, 0, 0, 1, 0, 1000);
    max-width: 500px;
    width: 90%;
    margin: auto;
    display: none;
}
.search-box h4 {
    color: #fff;
}
.search-box button {
    margin-top: 15px;
    background-color: #789be6;
    color: #fff;
    border-color: #789be6;
}
.popup-view-cart {
    background: #fff;
    position: absolute;
    right: 0;
    top: 100%;
    min-width: 300px;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    z-index: 9999;
    margin-top: 20px;
}
.popup-view-cart:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    right: 9px;
    top: -11px;
    transform: rotate(45deg);
    border-left: 1px solid #d3d3d3;
    z-index: -1;
    border-top: 1px solid #d3d3d3;
}
.popup-cart-title h5 {
    margin: 0;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    border-bottom: 1px solid #ddd;
}
.popup-cart-content {
    padding: 20px;
}
.popup-cart-content .item {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.popup-cart-content .item:last-child {
    margin-bottom: 0;
}
.popup-cart-content .item img {
    margin-right: 15px;
    max-width: 80px;
}
.popup-cart-content .item a {
    color: #000;
    font-weight: 500;
}
.popup-cart-content .item p, .popup-cart-content .item a {
    margin: 0;
}
.popup-cart-content .item p {
    font-size: 12px;
    line-height: 1.2;
}
.popup-cart-content .item span {
    font-size: 12px;
}
.item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.popup-cart-footer {
    padding: 0 20px;
    padding-bottom: 13px
}
.popup-cart-footer p {
    margin-bottom: 0;
}
.group-btn .btn {
    padding: 5px 15px;
}
.group-btn {
    display: flex;
}
.group-btn a {
    background: #22232b;
    color: #fff;
}
.group-btn a:first-of-type {
    margin-right: 10px;
}
body.home .header .icon-menu .icon-menu__bar {
    background: #fff
}
body .header .icon-menu .icon-menu__bar {
    background: #000;
}
body.home .cart-icon {
    width: 28px;
    height: 34px;
    background-size: cover;
    background: url('../images/hd_mainmenu_icon_cart.png') top left no-repeat;
}
body .cart-icon {
    width: 28px;
    height: 34px;
    background-size: cover;
    background: url('../images/hd_mainmenu_icon_cart-black.png') top left no-repeat;
}
body.home .header {
    position: absolute;
}
body .header {
    position: relative;
}